@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
/*@import url(https://fonts.googleapis.com/css?family=Inconsolata);*/

html, body {
    height: 100%;
}

body {
    margin: 5px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

img {
    width: 75%;
    display: block;
    margin: auto;
    float: none;
    border-style: solid;
}

img.full {
    width: 100%;
}

img.smallfloatright {
    width:40%;
    float: right;
    border-style: solid;
}

img.smallfloatleft {
    width:40%;
    float: left;
    border-style: solid;
}
