@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
/*@import url(https://fonts.googleapis.com/css?family=Inconsolata);*/

html, body {
    height: 100%;
}

body {
    margin: 5px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

img {
    width: 75%;
    margin: auto;
}
